.profile{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;

}

.profile-content{
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* Profile content  */
.profile-main-container{
    flex: 3;
}

/* All buttons */
.profile-button-container{
    border-radius: 25px;
    background-color: #2a2a2a;
    color: white;
    height: 50%;
}

    .profile-button-container button{
        --btnHeight: 61.5px;
        --btnWidth: 207px;
        padding: 0;
        height: var(--btnHeight);
        width: var(--btnWidth);
        background-size: contain;
        box-sizing: content-box;
        margin: 10px;
    }
    /* Universal properties */
    .profile-button-container button:hover{
        filter: brightness(1.2);
    }

    .profile-button-container button:active{
        filter: brightness(0.6);
    }

    .profile-button-container button:focus{
        outline: none;
    }
    /* Logout */
    .profile-logout{
        margin: 20px 10px;
        padding: 20px;
        border-bottom: 1px solid white;
    }

        .profile-logout-button{
            border-radius: calc(var(--btnWidth) / 2);
            background-color: #353535;
            border: 1px solid white;
            color: #ccc;
            font-size: 20px;
        }
    /* Connecting to other APIs */
    .profile-connect{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .profile-connect button{
            padding: 0;
            border: none;
            background-repeat: no-repeat;
        }

        .profile-spotify-button{
            background: url("/SpotifyLogo.png");
        }

        .profile-appleMusic-button{
            background: url("/AppleMusicLogo.png");
        }
