.signup {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #777;
    border-radius: 10px;
    width: 400px;
    height: 275px;
    justify-content: center;
    text-shadow: 0 0 1px black;

}

.signup h2 {
  color: #fff;
  margin: 10px 0 20px 0;
  font-size: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs .inputs-entry {
  flex: 1;
  height: 40px;
  padding: 0 15px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.inputs-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs-label span {
  width: 5em;
  align-self: center;
  text-align: right;
  padding-right: 10px;
}

.inputs-label input {
    width: 200px;
    height: 2em;
    padding: .25em 1em;
    border-radius: 1.5em;
    font-size: 16px;
    border: none;
}

.inputs-submit{
    margin: 15px 5px;
}

.inputs-submit button {
  border: none;
  border-radius: 10px;
  padding: 10px 60px;
  background-color: #2ecc34;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 0 1px black;
}

.inputs-submit button:active {
  background-color: #26a529;
}

.inputs-submit button:focus {
  outline: none;
}
