.playlistList{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.playlist-container{
    --imageSize: 150px;
    display: flex;
    background-color: #444;
    /* Golden ratio? */
    width: calc(2.6 * (var(--imageSize)));
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px 5px;
}

.playlist-cover{
    /* Cutting it down slightly */
    width: var(--imageSize);
    height: var(--imageSize);
}

.playlist-heading{
    margin: 10px;
    margin-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .playlist-title{
        margin: 0px;
        font-size: 20px;
    }

    .playlist-heading h3{
        font-size: 12px;
        font-weight: 400;
        margin: 2px;
    }
