.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.message {
  display: flex;
  flex-direction: row;
  height: 60px;
  text-shadow: 0 0 1px black;
}

.message a {
  color: #77f;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 5px;
}

.message a:hover {
  text-decoration: underline;
  cursor: default;
}
